{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}退课{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        function quitCourse(id) {
            r = window.confirm('你确认退课吗?');
            if (r) {
                window.location.replace(window.location.href + "?courseId=" + id);
            }
        }
    </script>
{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>退课</h1>
    </div>
    <div>
        {#        选课时间表#}
        <div>
            <div style="border-bottom: 1px solid grey">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <span>时间表</span>
            </div>
            <table class="table table-bordered table-striped" style="margin-top: 20px;text-align: center">
                <thead>
                <tr class="active">
                    <th></th>
                    <th style="text-align: center">星期一</th>
                    <th style="text-align: center">星期二</th>
                    <th style="text-align: center">星期三</th>
                    <th style="text-align: center">星期四</th>
                    <th style="text-align: center">星期五</th>
                    <th style="text-align: center">星期六</th>
                    <th style="text-align: center">星期日</th>
                </tr>
                </thead>
                <tbody>
                {% for class in courseTable %}
                    <tr>
                        <td>第{{ loop.index }}节</td>
                        <td>{{ class[0] }}</td>
                        <td>{{ class[1] }}</td>
                        <td>{{ class[2] }}</td>
                        <td>{{ class[3] }}</td>
                        <td>{{ class[4] }}</td>
                        <td>{{ class[5] }}</td>
                        <td>{{ class[6] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <div style="border-bottom: 1px solid grey">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span>课表</span>
            </div>
            <table class="table table-hover table table-striped" style="margin-top: 20px;text-align: center">
                <thead>
                <tr class="active">
                    <th style="text-align: center">课程序号</th>
                    <th style="text-align: center">课程名称</th>
                    <th style="text-align: center">学分</th>
                    <th style="text-align: center">老师</th>
                    <th style="text-align: center">上课时间</th>
                    <th style="text-align: center">上课地点</th>
                    <th style="text-align: center">退课</th>
                </tr>
                </thead>
                <tbody>
                {% for li in courseLists %}
                    <tr>
                        <td>{{ li['id'] }}</td>
                        <td>{{ li['name'] }}</td>
                        <td>{{ li['credit'] }}</td>
                        <td>{{ li['teacher'] }}</td>
                        <td>{{ li['time'] }}</td>
                        <td>{{ li['place'] }}</td>
                        <td>
                            <button type="button" class="btn btn-link" onclick="quitCourse({{ li['id'] }})">退课
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}