{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}学生信息{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        function quitStudent(id) {
            r = window.confirm('你确认删除吗?');
            if (r) {
                window.location.replace(window.location.href + "?studentId=" + id);
            }
        }
    </script>
{% endblock %}
{% block page_content %}
    {{ super() }}
    <div class="page-header">
        <h1>学生信息</h1>
    </div>
    <div>
        <div class="row" style="margin-bottom:20px ">
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-12" style="margin-bottom: 20px">
                <a type="button" class="btn btn-default" aria-label="Add" href="{{ url_for('studentAdd') }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span>添加学生</span>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6" style="float:right">
                <form method="post" class="form-inline">
                    <div class="form-group">
                        {{ form.search(class="form-control",placeholder="请输入学号") }}
                    </div>
                    {{ form.submit(type="submit",class="btn black-btn") }}

                </form>
            </div>
        </div>
        <div>
            <div style="border-bottom: 1px solid grey">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span>学生列表</span>
            </div>
            <table class="table table-hover table-striped table-responsive center-format" style="margin-top: 20px">
                <thead>
                <tr class="active">
                    <th style="text-align: center">学号</th>
                    <th style="text-align: center">姓名</th>
                    <th style="text-align: center">学院</th>
                    <th style="text-align: center">年级</th>
                    <th style="text-align: center">邮箱</th>
                    <th style="text-align: center">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for li in studentLists %}
                    <tr>
                        <td>{{ li['id'] }}</td>
                        <td>{{ li['name'] }}</td>
                        <td>{{ li['school'] }}</td>
                        <td>{{ li['grade'] }}</td>
                        <td>
                            <a href="mailto:{{ li['email'] }}">{{ li['email'] }}</a>
                        </td>
                        <td class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                            <div class="btn-group" role="group" aria-label="...">
                                <a type="button" class="btn btn-default" aria-label="edit"
                                   href="{{ url_for('studentEdit',studentId= li['id']) }}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <button type="button" class="btn btn-default" aria-label="delete"
                                        onclick="quitStudent({{ li['id'] }})">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}