{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}添加教师{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>添加教师</h1>
    </div>

    <div>
        <form class="col-md-4" method="POST">
            {{ wtf.form_field(form.id) }}
            {{ wtf.form_field(form.name) }}
            {{ wtf.form_field(form.school) }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.password2) }}
            {{ form.csrf_token }}
            <div>
                <div style="float: right;margin: 5px">
                    {{ form.submit(class="btn black-btn") }}
                </div>
                <div class="btn-group" role="group" style="float:right;margin: 5px">
                    <a type="button" class="btn btn-default" href="{{ url_for('teacherInfo') }}">取消</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
