{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        function selectcourse(id) {
            r = window.confirm('你确认选课吗?');
            {#TODO:判断课程是否已经满、判断课程是否冲突#}
            if (r) {
                 window.location.replace(window.location.href+"?courseid=" + id);
            }
        }
    </script>
{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>课程信息</h1>
    </div>
    <div>
        <div class="btn-group" role="group" aria-label="..." style="margin-bottom: 20px">
            <a type="button" class="btn btn-default" href="{{ url_for('addcourse') }}">添加课程</a>
        </div>
        <div>
            <div style="border-bottom: 1px solid grey">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span>所有课程</span>
            </div>
            <table class="table table-hover table table-striped" style="margin-top: 20px;text-align: center">
                <thead>
                <tr class="active">
                    <th style="text-align: center">id</th>
                    <th style="text-align: center">name</th>
                    <th style="text-align: center">teacher</th>
                    <th style="text-align: center">time</th>
                    <th style="text-align: center">select</th>
                </tr>
                </thead>
                <tbody>
                {% for li in lists %}
                    <tr>
                        <td>{{ li['id'] }}</td>
                        <td>{{ li['name'] }}</td>
                        <td>{{ li['teacher'] }}</td>
                        <td>{{ li['time'] }}</td>
                        <td>
                            <button type="button" class="btn btn-link" onclick="selectcourse({{ li['id'] }})">退课
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}