{% extends "bootstrap.html" %}

{% block title %}选课系统{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='UESTC-logo.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='UESTC-logo.png') }}" type="image/x-icon">
    <!--我的样式表-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <style>
        .black-btn {
            background-color: black;
            color: white
        }

        .lightgray-btn {
            background-color: lightgrey;
            color: black;
            border: 1px black solid;
        }

        .center-format {
            text-align: center !important;
            vertical-align: middle !important;
        }

        .inline-form {
            margin-bottom: 10px;
            margin-top: 10px;
        }


        div.title {
            border-bottom: 1px solid grey !important;
            margin-top: 5px;
            margin-bottom: 10px !important;
        }

        div.foot {
            margin-top: 100px;
            height: 40px;
            background-color: black;
            color: lightgrey;
            text-align: center;
            line-height: 40px;
        }

        .photo {
            min-block-size: 200px;
            max-block-size: 400px;
            width: 80%;
            margin: 0 auto;
        }

        .margin-element {
            margin: 1px 5px 1px 5px;
        }

        .list dl {
            font-size: 16px;
            line-height: 3;
        }

        .list dt {
            font-size: 16px;
            line-height: 3;
        }

        .list {
            padding: 0 30px 0 20px;
        }
    </style>
{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img alt="Brand" src="../static/logo-mini.png" class="navbar-brand">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('main.index') }}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">学生系统 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.study') }}">我的课程</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('main.select') }}">选课</a></li>
                            <li><a href="{{ url_for('main.quit') }}">退课</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">选课记录</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">教师系统 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.teach') }}">课程</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">管理系统 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.courseInfo') }}">课程信息</a></li>
                            <li><a href="{{ url_for('main.teacherInfo') }}">教师信息</a></li>
                            <li><a href="{{ url_for('main.studentInfo') }}">学生信息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                    </li>
                    <li><a href="https://www.uestc.edu.cn/">学校主页</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {{ current_user.name }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('main.infoPage') }}">个人中心</a></li>
                                <li><a href="{{ url_for('main.passwordEdit') }}">修改密码</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                            </ul>
                        </li>
                        {#                        <li>#}
                        {#                            <a href="#">#}
                        {#                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>#}
                        {#                        </li>#}
                        {#                        <li>#}
                        {#                            <a href="{{ url_for('auth.logout') }}">#}
                        {#                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>#}
                        {#                        </li>#}
                    {% else %}
                        <li>
                            <a href="{{ url_for('auth.login') }}">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class=flashes>
                    {% for category, message in messages %}
                        <div class="alert {{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <!--remodal-->
        <div class="remodal" data-remodal-id="modal" style="width: 25%">
            <button data-remodal-action="close" class="remodal-close"></button>
            <h3>选课系统</h3>
            <hr>
            <p>
                {% if message %}
                    {{ message }}
                {% endif %}
            </p>
            <br>
            {#                <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>#}
            <button data-remodal-action="confirm" class="remodal-confirm black-btn">确定</button>

            {#                <br>#}
            {#                <button data-remodal-action="confirm" class="btn btn-default">确定</button>#}
        </div>


        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block footer %}
    {#    <footer class="container-fluid" >#}
    {#        <div class="row foot">#}
    {#            电子科技大学 软件工程项目 选课系统#}
    {#        </div>#}
    {#    </footer>#}
{% endblock %}