{% extends "bootstrap/base.html" %}

{% block title %}选课系统{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/remodal-default-theme.css">
    <link rel="stylesheet" href="../static/css/remodal.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
    <script src="../static/js/bootstrap-table.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/remodal.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="../static/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>#}

    <link rel="shortcut icon" href="{{ url_for('static', filename='UESTC-logo.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='UESTC-logo.png') }}" type="image/x-icon">
    <style>
        .black-btn {
            background-color: black;
            color: white
        }

        .lightgray-btn {
            background-color: lightgrey;
            color: black;
            border: 1px black solid;
        }

        .center-format {
            text-align: center !important;
            vertical-align: middle !important;
        }

        .inline-form {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>
{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img alt="Brand" src="../static/logo-mini.png" class="navbar-brand">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('main.index') }}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">学生系统 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.study') }}">我的课程</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('main.select') }}">选课</a></li>
                            <li><a href="{{ url_for('main.quit') }}">退课</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">选课记录</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">教师系统 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.teach') }}">课程</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">管理系统 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.courseInfo') }}">课程信息</a></li>
                            <li><a href="{{ url_for('main.teacherInfo') }}">教师信息</a></li>
                            <li><a href="{{ url_for('main.studentInfo') }}">学生信息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                    </li>
                    <li><a href="https://www.uestc.edu.cn/">学校主页</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        {#                        <li class="dropdown">#}
                        {#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
                        {#                               aria-haspopup="true"#}
                        {#                               aria-expanded="false">个人中心 <span class="caret"></span></a>#}
                        {#                            <ul class="dropdown-menu">#}
                        {#                                <li><a href="#">Action</a></li>#}
                        {#                                <li><a href="#">Another action</a></li>#}
                        {#                                <li><a href="#">Something else here</a></li>#}
                        {#                                <li role="separator" class="divider"></li>#}
                        {#                                <li><a href="#">Separated link</a></li>#}
                        {#                            </ul>#}
                        {#                        </li>#}
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.logout') }}">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('auth.login') }}">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}
            <div class="remodal" data-remodal-id="modal" style="width: 20%">
                <button data-remodal-action="close" class="remodal-close"></button>
                <p>
                    {% if note %}
                        {{ note }}
                    {% endif %}

                </p>
                <br>
                <button data-remodal-action="confirm" class="btn btn-default">OK</button>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
