{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}课程信息{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        function quitCourse(id) {
            r = window.confirm('你确认删除课程吗?');
            if (r) {
                window.location.replace('/courseInfo' + "?courseId=" + id);
            }
        }
    </script>
{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>计算机组成原理</h1>
    </div>
    <div style="padding-left: 20px">
        <div class="btn-group" role="group" aria-label="...">
            <a type="button" class="btn btn-default" href='{{ url_for('main.courseInfo') }}'>
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
            <a type="button" class="btn btn-default" href='{{ url_for('main.courseEdit',courseId= list['id']) }}'>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
            <a type="button" class="btn btn-default" aria-label="delete"
               onclick="quitCourse('{{ list['id'] }}')">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <dl class="list">
                <dt>课程序号</dt>
                <dd>{{ list['id'] }}</dd>
                <dt>学分</dt>
                <dd>{{ list['credit'] }}</dd>
                <dt>教室</dt>
                <dd>{{ list['room'] }}</dd>
                <dt>课程容量</dt>
                <dd>{{ list['capacity'] }}</dd>
                <dt>上课人数</dt>
                <dd>{{ list['current'] }}</dd>
                <dt>上课年级</dt>
                <dd>
                    {% for grade in list['grade'] %}
                        {{ grade }}<br>
                    {% endfor %}
                </dd>
                <dt>上课时间</dt>
                <dd>
                    {% for time in list['time'] %}
                        {{ time }}<br>
                    {% endfor %}
                </dd>
                <dt>上课周数</dt>
                <dd>{{ list['week'] }}</dd>

            </dl>
        </div>
        <div class="col-md-4">
            <dl class="list">
                <dt>上课老师</dt>
                <dd>
                    {% for teacher in list['teacher'] %}
                        {{ teacher }}<br>
                    {% endfor %}
                </dd>
                <dt>上课学院</dt>
                <dd>
                    {% for school in list['school'] %}
                        {{ school }}<br>
                    {% endfor %}
                </dd>
            </dl>
        </div>
    </div>
{% endblock %}
