{% extends "base.html" %}

{% block title %}选课系统{% endblock %}

{% block page_content %}
    <div class="jumbotron row">
        <h1>Hello, world!</h1>
        <p>欢迎来到选课系统！</p>
        <p><a class="btn btn-default btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    {% if current_user.is_authenticated %}
        <div class="row">
            <div class="col-md-9">
                <div class="title">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <span>时间表</span>
                </div>
                <div class="table-responsive  margin-element">
                    <table id="table" class="table table-bordered">
                        <thead>
                        <tr class="active">
                            <th class="center-format" style="width: 9%"></th>
                            <th class="center-format" style="width: 13%">星期一</th>
                            <th class="center-format" style="width: 13%">星期二</th>
                            <th class="center-format" style="width: 13%">星期三</th>
                            <th class="center-format" style="width: 13%">星期四</th>
                            <th class="center-format" style="width: 13%">星期五</th>
                            <th class="center-format" style="width: 13%">星期六</th>
                            <th class="center-format" style="width: 13%">星期日</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for classList in courseTable %}
                            <tr>
                                <td class="center-format active">第{{ loop.index }}节</td>
                                {% for class in classList %}
                                    <td class="center-format" style="padding: 0">
                                        {% for item in class %}
                                            {{ item|safe }}<br>
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="title">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <span>个人信息</span>
                </div>
                <div class="row center-format margin-element">
                    {% if user['avatar'] == None %}
                        <img class="img-rounded center-format img-responsive  photo "
                             src="../static/default.png" alt="">
                    {% else %}
                        <img class="img-rounded center-format img-responsive  photo "
                             src="data:;base64,{{ user['avatar'] }}" alt="">
                    {% endif %}
                </div>
                <div class="row margin-element">
                    <h1>{{ current_user.name }}</h1>
                    <br>
                    <p>{{ current_user.id }}</p>
                    <!--学生-->
                    {% if current_user.type==2 %}
                        <p>{{ user['grade'] }}级</p>
                    {% endif %}
                    <!--老师-->
                    {% if current_user.type==1 %}
                        <p>{{ user['title'] }}</p>
                    {% endif %}

                    <p>{{ user['school'] }}</p>
                    <p><a href="mailto:{{ user['email'] }}">{{ user['email'] }}</a></p>
                    <br>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}