{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}个人信息{% endblock %}

{% block page_content %}
    {{ super() }}
    <div class="page-header">
        <h1>{{ current_user.name }}的信息</h1>
    </div>
    <div class="row">
        <div class="col-md-4 center-format " style="margin:0 auto;">
            {% if user['avatar'] == None %}
                <img class="img-rounded center-format img-responsive  photo "
                     src="../static/default.png">
            {% else %}
                <img class="img-rounded center-format img-responsive  photo "
                     src="data:;base64,{{ user['avatar'] }}" alt="">
            {% endif %}
        </div>
        <div class=" col-md-8 info">
            <h1>{{ current_user.name }}</h1>
            <br>
            <p>{{ current_user.id }}</p>
            <!--学生-->
            {% if current_user.type==2 %}
                <p>{{ user['grade'] }}级</p>
            {% endif %}
            <!--老师-->
            {% if current_user.type==1 %}
                <p>{{ user['title'] }}</p>
            {% endif %}

            <p>{{ user['school'] }}</p>
            <p><a href="mailto:{{ user['email'] }}">{{ user['email'] }}</a></p>
            <br>
            <p style="float: left;margin: 5px">
                <a class="btn black-btn" href='{{ url_for('main.infoEdit') }}'>编辑资料</a>
            </p>
            <p style="float: left;margin: 5px">
                <a class="btn btn-danger" href='{{ url_for('main.passwordEdit') }}'>修改密码</a>
            </p>
        </div>
    </div>
{% endblock %}
