{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}选课{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        function selectCourse(id) {
            r = window.confirm('你确认选课吗?');
            if (r) {
                window.location.replace(window.location.href + "?courseId=" + id);
            }
        }
    </script>
{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>选课</h1>
    </div>
    <div>
        {#        选课时间表#}
        <div>
            <div class="title">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <span>时间表</span>
            </div>
            <div class="table-responsive">
                <table id="table" class="table table-bordered">
                    <thead>
                    <tr class="active">
                        <th class="center-format" style="width: 9%"></th>
                        <th class="center-format" style="width: 13%">星期一</th>
                        <th class="center-format" style="width: 13%">星期二</th>
                        <th class="center-format" style="width: 13%">星期三</th>
                        <th class="center-format" style="width: 13%">星期四</th>
                        <th class="center-format" style="width: 13%">星期五</th>
                        <th class="center-format" style="width: 13%">星期六</th>
                        <th class="center-format" style="width: 13%">星期日</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for classList in courseTable %}
                        <tr>
                            <td class="center-format active">第{{ loop.index }}节</td>
                            {% for class in classList %}
                                {% if class %}
                                    <td class="center-format table-highlight">
                                        {% for item in class %}
                                            {{ item|safe }}<br>
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <td class="center-format">
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="title">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span>可选课表</span>
            </div>
            <table id="table"
                   class="table table-hover table-responsive"
                   data-toggle="table"
                   data-search="true"
                   data-search-align="left"
                   data-search-on-enter-key="false"
                   data-show-search-button="true"
                   data-pagination="true"
                   data-page-list="[5,10,15,20,25,50,100]"
                   data-show-columns="true"
                   data-show-search-clear-button="true"
                   data-show-columns-toggle-all="true"
                   data-show-columns-search="true"
                   data-show-refresh="true"
                   data-show-fullscreen="true"
            >
                <thead>
                <tr class="active">
                    <th class="center-format active" data-sortable="true">课程序号</th>
                    <th class="center-format active" data-sortable="true">课程名称</th>
                    <th class="center-format active" data-sortable="true">学分</th>
                    <th class="center-format active" data-sortable="true">老师</th>
                    <th class="center-format active" data-sortable="true">已选人数</th>
                    <th class="center-format active" data-sortable="true">最大容量</th>
                    <th class="center-format active" data-sortable="true">上课时间</th>
                    <th class="center-format active" data-sortable="true">上课周数</th>
                    <th class="center-format active" data-sortable="true">上课地点</th>
                    <th class="center-format active">选课</th>
                </tr>
                </thead>
                <tbody>
                {% for li in courseLists %}
                    <tr>
                        <td class="center-format">{{ li['id'] }}</td>
                        <td class="center-format">{{ li['name'] }}</td>
                        <td class="center-format">{{ li['credit'] }}</td>
                        <td class="center-format">
                            {% for teacher in li['teacher'] %}
                                {{ teacher }}<br>
                            {% endfor %}
                        </td>
                        <td class="center-format">{{ li['current'] }}</td>
                        <td class="center-format">{{ li['capacity'] }}</td>
                        <td class="center-format">
                            {% for time in li['time'] %}
                                {{ time }}<br>
                            {% endfor %}
                        </td>
                        <td class="center-format">{{ li['week'] }}</td>
                        <td class="center-format">{{ li['room'] }}</td>
                        <td class="center-format">
                            {#                            <button type="button" class="btn btn-link" onclick="selectCourse({{ li['id'] }})">选课#}
                            {#                            </button>#}
                            <div class="center-format">
                                <button type="button" class="btn btn-default" aria-label="Left Align"
                                        onclick="selectCourse('{{ li['id'] }}')">
                                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}