{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}花名册{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>花名册</h1>
    </div>
    <div>
        <div id="toolbar">
            <a type="button" class="btn btn-default" href="{{ url_for('main.teach') }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
        </div>
        <div>
            <div class="title">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span>学生列表</span>
            </div>
            <table id="table"
                   class="table table-hover table-responsive"
                   data-toggle="table"
                   data-search="true"
                   data-search-align="left"
                   data-search-on-enter-key="false"
                   data-show-search-button="true"
                   data-pagination="true"
                   data-page-list="[5,10,15,20,25,50,100]"
                   data-show-columns="true"
                   data-show-search-clear-button="true"
                   data-show-columns-toggle-all="true"
                   data-show-columns-search="true"
                   data-show-refresh="true"
                   data-show-fullscreen="true"
                   data-toolbar="#toolbar"
            >
                <thead>
                <tr class="active">
                    <th class="center-format active">学号</th>
                    <th class="center-format active">姓名</th>
                    <th class="center-format active">学院</th>
                    <th class="center-format active">年级</th>
                    <th class="center-format active">邮箱</th>
                </tr>
                </thead>
                <tbody>
                {% for li in studentLists %}
                    <tr>
                        <td class="center-format">{{ li[0] }}</td>
                        <td class="center-format">{{ li[1] }}</td>
                        <td class="center-format">{{ li[2] }}</td>
                        <td class="center-format">{{ li[3] }}</td>
                        <td class="center-format">
                            <a href="mailto:{{ li['email'] }}">{{ li[4] }}</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $('#table').bootstrapTable({
            toolbar: "#toolbar", //设置自定义工具栏容器ID，也可以是容器样式类名.toolbar
            columns: columns,
            data: data
        });
    </script>
{% endblock %}