{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}学生课程{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>{{ current_user.name }}的课程</h1>
    </div>
    <div>
        {#        选课时间表#}
        <div>
            <div style="border-bottom: 1px solid grey">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <span>时间表</span>
            </div>
            <table class="table table-bordered table-striped" style="margin-top: 20px;text-align: center">
                <thead>
                <tr class="active">
                    <th></th>
                    <th class="center-format">星期一</th>
                    <th class="center-format">星期二</th>
                    <th class="center-format">星期三</th>
                    <th class="center-format">星期四</th>
                    <th class="center-format">星期五</th>
                    <th class="center-format">星期六</th>
                    <th class="center-format">星期日</th>
                </tr>
                </thead>
                <tbody>
                {% for class in courseTable %}
                    <tr>
                        <td class="center-format">第{{ loop.index }}节</td>
                        <td class="center-format">
                            {% for item in class[0] %}
                                {{ item }}<br>
                            {% endfor %}
                        </td>
                        <td class="center-format">
                            {% for item in class[1] %}
                                {{ item }}<br>
                            {% endfor %}
                        </td>
                        <td class="center-format">
                            {% for item in class[2] %}
                                {{ item }}<br>
                            {% endfor %}
                        </td>
                        <td class="center-format">
                            {% for item in class[3] %}
                                {{ item }}<br>
                            {% endfor %}
                        </td>
                        <td class="center-format">
                            {% for item in class[4] %}
                                {{ item }}<br>
                            {% endfor %}
                        </td>
                        <td class="center-format">
                            {% for item in class[5] %}
                                {{ item }}<br>
                            {% endfor %}
                        </td>
                        <td class="center-format">
                            {% for item in class[6] %}
                                {{ item }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <div style="border-bottom: 1px solid grey">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span>课表</span>
            </div>
            <table class="table table-hover table table-striped" style="margin-top: 20px;text-align: center">
                <thead>
                <tr class="active">
                    <th class="center-format">课程序号</th>
                    <th class="center-format">课程名称</th>
                    <th class="center-format">学分</th>
                    <th class="center-format">老师</th>
                    <th class="center-format">上课时间</th>
                    <th class="center-format">上课周数</th>
                    <th class="center-format">上课地点</th>
                </tr>
                </thead>
                <tbody>
                {% for li in courseLists %}
                    <tr>
                        <td class="center-format">{{ li['id'] }}</td>
                        <td class="center-format">{{ li['name'] }}</td>
                        <td class="center-format">{{ li['credit'] }}</td>
                        <td class="center-format">
                            {% for teacher in li['teacher'] %}
                                {{ teacher }}<br>
                            {% endfor %}
                        </td>
                        <td class="center-format">
                            {% for time in li['time'] %}
                                {{ time }}<br>
                            {% endfor %}
                        </td>
                        <td class="center-format">{{ li['week'] }}</td>
                        <td class="center-format">{{ li['room'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}