{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}添加学生{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>添加学生</h1>
    </div>
    <div>
        <form class="col-md-4" method="POST">
            {{ wtf.form_field(form.id) }}
            {{ wtf.form_field(form.name) }}
            {{ wtf.form_field(form.school,class="selectpicker show-tick form-control",title="请选择学院") }}
            {{ wtf.form_field(form.grade,class="selectpicker show-tick form-control",title="请选择年级") }}
            {{ wtf.form_field(form.email) }}
            {{ form.csrf_token }}
            <div>
                <div style="float: right;margin: 5px">
                    {{ form.submit(class="btn black-btn") }}
                </div>
                <div class="btn-group" role="group" style="float:right;margin: 5px">
                    <a type="button" class="btn btn-default" href="{{ url_for('main.studentInfo') }}">取消</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
