{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}教师信息{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        function quitTeacher(id) {
            r = window.confirm('你确认删除吗?');
            if (r) {
                window.location.replace(window.location.href + "?teacherId=" + id);
            }
        }

        function autoForm(id) {
            var formId = document.getElementById("password");
            formId.elements[0].value = id;
        }
    </script>
{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>教师信息</h1>
    </div>
    <div>
        <div id="toolbar">
            <a type="button" class="btn btn-default" href="{{ url_for('main.teacherAdd') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
        <div>
            <div class="title">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span>所有教师</span>
            </div>
            <table id="table"
                   class="table table-hover table-responsive"
                   data-toggle="table"
                   data-search="true"
                   data-search-align="left"
                   data-search-on-enter-key="false"
                   data-show-search-button="true"
                   data-pagination="true"
                   data-page-list="[5,10,15,20,25,50,100]"
                   data-show-columns="true"
                   data-show-search-clear-button="true"
                   data-show-columns-toggle-all="true"
                   data-show-columns-search="true"
                   data-show-refresh="true"
                   data-show-fullscreen="true"
                   data-toolbar="#toolbar"
            >
                <thead>
                <tr class="active">
                    <th class="center-format" data-sortable="true">工号</th>
                    <th class="center-format" data-sortable="true">姓名</th>
                    <th class="center-format" data-sortable="true">学院</th>
                    <th class="center-format" data-sortable="true">职称</th>
                    <th class="center-format" data-sortable="true">邮箱</th>
                    <th class="center-format">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for li in teacherLists %}
                    <tr>
                        <td class="center-format">{{ li[0] }}</td>
                        <td class="center-format">{{ li[1] }}</td>
                        <td class="center-format">{{ li[2] }}</td>
                        <td class="center-format">{{ li[3] }}</td>
                        <td class="center-format">
                            <a href="mailto:{{ li['email'] }}">{{ li[4] }}</a>
                        </td>
                        <td class="center-format">
                            <div class="btn-group" role="group" aria-label="...">
                                <a type="button" class="btn btn-default" aria-label="edit"
                                   href="{{ url_for('main.teacherEdit',teacherId=li[0]) }}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <button type="button" class="btn btn-default" aria-label="delete"
                                        onclick="quitTeacher({{ li[0] }})">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                                {#                                <button type="button" class="btn btn-default" aria-label="password"#}
                                {#                                        href="{{ url_for('main.passwordEdit',teacherId= li[0]) }}">#}
                                {#                                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>#}
                                {#                                </button>#}
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-default" data-toggle="modal"
                                        data-target="#passwordModal" onclick="autoForm({{ li[0] }})">
                                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                </button>

                            </div>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="passwordModalLabel">修改密码</h4>
                </div>
                <form method="POST" id="password" name="password">
                    <div class="modal-body">
                        {{ form.id() }}
                        {{ wtf.form_field(form.admin) }}
                        {{ wtf.form_field(form.password) }}
                        {{ wtf.form_field(form.password2) }}
                        {{ form.csrf_token }}
                    </div>
                    <div>
                        <div class="modal-footer">
                            <div style="float: right;margin: 5px">
                                {{ form.submit(class="btn black-btn") }}
                            </div>
                            <div class="btn-group" role="group" style="float:right;margin: 5px">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $('#table').bootstrapTable({
            toolbar: "#toolbar", //设置自定义工具栏容器ID，也可以是容器样式类名.toolbar
            columns: columns,
            data: data
        });
    </script>
{% endblock %}